server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
      driver-class-name: ${cheese.datasource.driver-class-name}
      url: jdbc:postgresql://${cheese.datasource.host}:${cheese.datasource.port}/${cheese.datasource.database}
      username: ${cheese.datasource.username}
      password: ${cheese.datasource.password}
      type: com.alibaba.druid.pool.DruidDataSource

mybatis:
  #mapper配置文件
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.cheese.entity
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true

logging:
  level:
    com:
      cheese:
        mapper: debug
        service: info
        controller: info

cheese:
  jwt:
    # 设置jwt签名加密时使用的秘钥
    admin-secret-key: cheeese
    # 设置jwt过期时间
    admin-ttl: 86400000
    # 设置前端传递过来的令牌名称
    admin-token-name: token

  alioss:
    endpoint: ${cheese.alioss.endpoint}
    access-key-id: ${cheese.alioss.access-key-id}
    access-key-secret: ${cheese.alioss.access-key-secret}
    bucket-name: ${cheese.alioss.bucket-name}

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.cheese.controller
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn

mybatis-plus:
  # classpath后加*表示是web项目，不带表示是文件项目
  mapper-locations: classpath*:/mapper/**/*.xml
  #配置sql打印日志
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    aggressive-lazy-loading: true
    lazy-loading-enabled: true